@import '../styles/imports';


body{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
}
